@inherits LayoutComponentBase
@inject AuthService Auth

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!Auth.IsLoggedIn)
            {
                <NavLink href="/AccountLogin">Login</NavLink>
            }
            else
            {
                <span>@Auth.Name</span>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>