@page "/AddDB"
@rendermode InteractiveServer
@inject HttpClient Http
@using Varelager.Web.Models

<h3>AddDB</h3>
@* ------------------------------------------ create *@
<input type="text" @bind="createInput" placeholder="create" />
<button class="btn btn-primary" @onclick="AddToTable">add name</button>

<br />
<br />
@* ------------------------------------------ return *@
<button class="btn btn-primary" @onclick="ReturnAllInTable">return all rows</button>

<br />
<br />
@* ------------------------------------------ update *@
<input type="text" @bind="updateInput" placeholder="update content" />
<br />
<input type="number" @bind="updateId" placeholder="id of row update"/>
<br />
<button class="btn btn-primary" @onclick="UpdateRow">update</button>

<br />
<br />
@* ------------------------------------------ delete *@
<input type="number" @bind="deleteId" placeholder="id of row delete"/>
<button class="btn btn-primary" @onclick="DeleteRow">delete</button>

@* table *@
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private string createInput = "";

    private string updateInput = "";
    private int updateId;

    private int deleteId;

    private List<Item> items = new();

    private async Task AddToTable()
    {
        if (!string.IsNullOrWhiteSpace(createInput))
        {
            await Http.PostAsJsonAsync("https://localhost:7507/items", new { Name = createInput }); // send post request to url with createInput
            createInput = "";
        }
        createInput = "";
    }
    private async Task ReturnAllInTable()
    {
        items = await Http.GetFromJsonAsync<List<Item>>("https://localhost:7507/items"); // sends get request to url and turns data into list
    }
    private async Task UpdateRow()
    {
        if (!string.IsNullOrWhiteSpace(updateInput) && updateId >= 0)
        {
            await Http.PatchAsJsonAsync($"https://localhost:7507/items/{updateId}", new { Name = updateInput }); // sends patch request to url with id and input
        }
        updateInput = "";
        updateId = 0;
    }
    private async Task DeleteRow()
    {
        if (deleteId >= 0)
        {
            await Http.DeleteAsync($"https://localhost:7507/items/{deleteId}"); // sends delete request to url with id
        }
        deleteId = 0;
    }
}